@charset "UTF-8";
body {
    width: 97vw;
    height: 97vh;
}
div#container-flex {
    display: flex;
    width: 97vw;
    height: 97vh;
    justify-content: space-evenly;
    align-content: space-around;
    position: relative;
}
div#um, div#dois, div#tres, div#quatro, div#cinco, div#seis, div#sete, div#oito {
    width: 90px;
    height: 150px;
    margin: 8px;
    position: absolute;
}
div#um {
    background-color: aquamarine;
    left: 30px;
}
div#dois {
    background-color: blue;
    left: 135px;
}
div#tres {
    background-color: brown;
    left: 240px;
}
div#quatro {
    background-color: blueviolet;
    left: 345px;
}
div#cinco {
    background-color: cadetblue;
    left: 30px;
}
div#seis {
    background-color: chocolate;
    left: 135px;
}
div#sete {
    background-color: crimson;
    left: 240px;
}
div#oito {
    background-color: darkorange;
    left: 345px;    
}

.sup {
    align-self: flex-start;
    top: 7.8%;
}
.inf {
    align-self: flex-end;
    top: 54.9%;
}